<h3 class="text-2xl font-bold mb-4 text-my-blue">Thông tin thời kỳ lịch sử</h3>

<form [formGroup]="formGroup" class="space-y-4">

  <!-- Name -->
  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Tên thời kỳ:</span>
    <div class="w-[70%]">
      <input
        type="text"
        formControlName="name"
        class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
      />

      @if (editMode && formHelper.isInvalid('name')) {
        @if (formHelper.hasError('name', 'required')) {
          <p class="error">Tên thời kỳ không được để trống</p>
        } @else if (formHelper.hasError('name', 'maxlength')) {
          <p class="error">Tên quá dài</p>
        }
      }
    </div>
  </label>

  <!-- Start Year -->
  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Năm bắt đầu:</span>
    <div class="w-[70%]">
      <input
        type="number"
        formControlName="startYear"
        class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
      />

      @if (editMode && formHelper.isInvalid('startYear')) {
        @if (formHelper.hasError('startYear', 'required')) {
          <p class="error">Năm bắt đầu không được để trống</p>
        }
      }
    </div>
  </label>

  <!-- End Year -->
  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Năm kết thúc:</span>
    <div class="w-[70%]">
      <input
        type="number"
        formControlName="endYear"
        class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
      />

      @if (editMode && formHelper.isInvalid('endYear')) {
        @if (formHelper.hasError('endYear', 'required')) {
          <p class="error">Năm kết thúc không được để trống</p>
        }
      }
    </div>
  </label>

  @if (editMode) {
    <div class="flex justify-end space-x-2 mr-[8%]">
      <lib-action-button
        name="save"
        mainTitle="Lưu"
        title=""
        [disabled]="formGroup.invalid"
        (btnClick)="save.emit()"
      ></lib-action-button>

      <lib-action-button
        name="cancel"
        mainTitle="Thoát"
        title=""
        (btnClick)="cancel.emit()"
      ></lib-action-button>
    </div>
  }
</form>
