<div class="p-4">
  <h3 class="text-2xl font-bold mb-8 text-my-blue">Thông tin thời kỳ lịch sử</h3>

  <form [formGroup]="formGroup" class="space-y-4">

    <!-- Name -->
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Tên thời kỳ:</span>
      <div class="w-[50%]">
        <input
          type="text"
          formControlName="name"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
        />

        @if (formHelper.isInvalid('name')) {
          @if (formHelper.hasError('name', 'required')) {
            <p class="error">{{ historicalPeriodMessages.NAME__REQUIRED }}</p>
          } @else if (formHelper.hasError('name', 'maxlength')) {
            <p class="error">{{ historicalPeriodMessages.NAME__TOO_LONG }}</p>
          }
        }
      </div>
    </label>

    <!-- Start Year -->
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Năm bắt đầu:</span>
      <div class="w-[50%]">
        <input
          type="number"
          formControlName="startYear"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
        />

        @if (formHelper.isInvalid('startYear')) {
          @if (formHelper.hasError('startYear', 'required')) {
            <p class="error">{{ historicalPeriodMessages.START_YEAR__REQUIRED }}</p>
          }
        }
      </div>
    </label>

    <!-- End Year -->
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Năm kết thúc:</span>
      <div class="w-[50%]">
        <input
          type="number"
          formControlName="endYear"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
        />

        @if (formHelper.isInvalid('endYear')) {
          @if (formHelper.hasError('endYear', 'required')) {
            <p class="error">{{ historicalPeriodMessages.END_YEAR__REQUIRED }}</p>
          }
        } @else if (formGroup.get('endYear')?.value <= formGroup.get('startYear')?.value) {
          <p class="error">{{ historicalPeriodMessages.END_YEAR__INVALID }}</p>
        }
      </div>
    </label>
  </form>
  <div class="mt-10 p-4 w-full bg-gradient-to-r from-my-lightblue to-my-lightpurple flex items-center rounded-xl">
    <div class="flex justify-end ml-auto space-x-2 ">
      <lib-action-button
        [name]="ActionButtonName.Save"
        mainTitle="Lưu"
        title=""
        [disabled]="formGroup.invalid"
        (btnClick)="saveFn.emit()"
      ></lib-action-button>

      <lib-action-button
        [name]="ActionButtonName.Cancel"
        mainTitle="Thoát"
        title=""
        (btnClick)="cancelFn.emit()"
      ></lib-action-button>
    </div>
  </div>
</div>

