<h3 class="text-2xl font-bold mb-4 text-my-purple">Đổi mật khẩu</h3>
<form [formGroup]="passwordForm" class="space-y-4">
  <label for="oldPasswordId" class="flex items-center space-x-3 text-gray-700">
    <span class="w-[25%]">Mật khẩu cũ:</span>
    <div class="w-[70%]">
      <lib-password-input
        inputId="oldPasswordId"
        formControlName="oldPassword"
        containerClass="flex-1"
        visibilityClass="right-2"
        [inputNgClass]="passwordInputClass"
        [inputReadonly]="!editMode"
        [inputDisabled]="!editMode"
      ></lib-password-input>

      @if (editMode && passwordFH.isInvalid('oldPassword')) {
        @if (passwordFH.hasError('oldPassword', 'required')) {
          <p class="error">{{ userMessages.OLD_PASSWORD__REQUIRED }}</p>
        } @else if (passwordFH.hasError('oldPassword', 'pattern') ||
        passwordFH.hasError('oldPassword', 'minlength') ||
        passwordFH.hasError('oldPassword', 'maxlength')) {
          <p class="error">{{ userMessages.OLD_PASSWORD__INVALID }}</p>
        }
      }
    </div>
  </label>

  <label for="newPasswordId" class="flex items-center space-x-3 text-gray-700">
    <span class="w-[25%]">Mật khẩu mới:</span>
    <div class="w-[70%]">
      <lib-password-input
        inputId="newPasswordId"
        formControlName="newPassword"
        containerClass="flex-1"
        visibilityClass="right-2"
        [inputNgClass]="passwordInputClass"
        [inputReadonly]="!editMode"
        [inputDisabled]="!editMode"
      ></lib-password-input>

      @if (editMode && passwordFH.isInvalid('newPassword')) {
        @if (passwordFH.hasError('newPassword', 'required')) {
          <p class="error">{{ userMessages.NEW_PASSWORD__REQUIRED }}</p>
        } @else if (passwordFH.hasError('newPassword', 'pattern') ||
        passwordFH.hasError('newPassword', 'minlength') ||
        passwordFH.hasError('newPassword', 'maxlength')) {
          <p class="error">{{ userMessages.NEW_PASSWORD__INVALID }}</p>
        } @else if (passwordForm.get('newPassword')?.value === passwordForm.get('oldPassword')?.value) {
          <p class="error">{{ userMessages.NEW_PASSWORD__DUPLICATE }}</p>
        }
      }
    </div>
  </label>

  <label for="confirmNewPasswordId" class="flex items-center space-x-3 text-gray-700">
    <span class="w-[25%]">Xác nhận mật khẩu:</span>
    <div class="w-[70%]">
      <lib-password-input
        inputId="confirmNewPasswordId"
        formControlName="confirmNewPassword"
        containerClass="flex-1"
        visibilityClass="right-2"
        [inputNgClass]="passwordInputClass"
        [inputReadonly]="!editMode"
        [inputDisabled]="!editMode"
      ></lib-password-input>

      @if (editMode && passwordFH.isInvalid('confirmNewPassword')) {
        @if (passwordFH.hasError('confirmNewPassword', 'required')) {
          <p class="error">{{ userMessages.CONFIRM_NEW_PASSWORD__REQUIRED }}</p>
        } @else if (passwordFH.hasError('confirmNewPassword', 'pattern') ||
        passwordFH.hasError('confirmNewPassword', 'minlength') ||
        passwordFH.hasError('confirmNewPassword', 'maxlength')) {
          <p class="error">{{ userMessages.CONFIRM_NEW_PASSWORD__INVALID }}</p>
        } @else if (passwordForm.get('confirmNewPassword')?.value === passwordForm.get('newPassword')?.value) {
          <p class="error">{{ userMessages.CONFIRM_NEW_PASSWORD__NOT_MATCH }}</p>
        }
      }
    </div>
  </label>

  @if (editMode) {
    <div class="flex justify-end space-x-2 mr-[3%]">
      <lib-action-button
        [name]="ActionButtonName.Save"
        mainTitle="Lưu"
        title=""
        [disabled]="passwordForm.invalid"
        (btnClick)="savePassword()"
      ></lib-action-button>

      <lib-action-button
        [name]="ActionButtonName.Cancel"
        mainTitle="Hủy"
        title=""
        (btnClick)="cancelEditPassword()"
      ></lib-action-button>
    </div>
  }
</form>
