@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "National Park Regular";
  src: url("fonts/NationalPark-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel Decorative Regular";
  src: url("fonts/CinzelDecorative-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "National Park Regular", sans-serif;
}

.error {
  @apply text-red-500 text-sm mt-1 break-words
}

.toggle-show-hide-password-btn {
  @apply absolute right-2 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}


/* .toast {
  @apply bg-blue-600 text-white p-4 rounded-lg;
}

.toast-success {
  @apply bg-green-600;
}

.toast-error {
  @apply bg-red-600;
}

.swal2-popup {
  @apply bg-gray-900 text-white rounded-lg p-6;
}

.swal2-confirm {
  @apply bg-green-600 text-white px-4 py-2 rounded;
} */
