@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "National Park Regular";
  src: url("fonts/NationalPark-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel Decorative Regular";
  src: url("fonts/CinzelDecorative-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "National Park Regular", sans-serif;
}

.error {
  @apply text-red-500 text-sm mt-1
}


/* .toast {
  @apply bg-blue-600 text-white p-4 rounded-lg;
}

.toast-success {
  @apply bg-green-600;
}

.toast-error {
  @apply bg-red-600;
}

.swal2-popup {
  @apply bg-gray-900 text-white rounded-lg p-6;
}

.swal2-confirm {
  @apply bg-green-600 text-white px-4 py-2 rounded;
} */
