<app-lesson-form
  [formGroup]="lessonForm"
  [formHelper]="lessonFH"
  [videoUrl]="videoUrl"
  (saveFn)="save()"
  (cancelFn)="cancel()"
  (videoFileChange)="videoFileChange($event)"
  (deleteVideo)="deleteVideo()"
>
</app-lesson-form>

<app-paragraphs
  [paragraphs]="lessonResponse.paragraphs"
  (updated)="updatedParagraphs($event)"
></app-paragraphs>

<app-images
  [images]="lessonResponse.images"
  (updated)="updatedImages($event)"
></app-images>

<app-questions-list
  title="Danh sách câu hỏi của bài học"
  [notUpdateQuestion]="true"
  [displayedQuestionIds]="displayedQuestionIds"
  (selectedQuestionIdsChange)="selectedQuestionIdsChange($event)"
  (saveSelectedQuestion)="saveSelectedQuestions()"
  (deleteQuestion)="deleteQuestion($event)"
>
</app-questions-list>
