<h3 class="text-2xl font-bold mb-4 text-my-blue">Thông tin cá nhân</h3>
<form [formGroup]="userInfoForm" class="space-y-4">
  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Họ:</span>
    <div class="w-[70%]">
      <input
        type="text"
        formControlName="lastName"
        [ngClass]="{
         'flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-myblue w-full': true,
         'cursor-not-allowed caret-transparent bg-gray-300': !editMode
        }"
        [readonly]="!editMode"
        [disabled]="!editMode"
      />

      @if (editMode && userInfoFH.isInvalid('lastName')) {
        @if (userInfoFH.hasError('lastName', 'required')) {
          <p class="error">{{ userMessage.LAST_NAME__REQUIRED }}</p>
        } @else if (userInfoFH.hasError('lastName', 'maxlength')) {
          <p class="error">{{ userMessage.LAST_NAME__TOO_LONG }}</p>
        }
      }
    </div>
  </label>

  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Tên:</span>
    <div class="w-[70%]">
      <input
        type="text"
        formControlName="firstName"
        [ngClass]="{
         'flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-myblue w-full': true,
         'cursor-not-allowed caret-transparent bg-gray-300': !editMode
        }"
        [readonly]="!editMode"
        [disabled]="!editMode"
      />

      @if (editMode && userInfoFH.isInvalid('firstName')) {
        @if (userInfoFH.hasError('firstName', 'required')) {
          <p class="error">{{ userMessage.FIRST_NAME__REQUIRED }}</p>
        } @else if (userInfoFH.hasError('firstName', 'maxlength')) {
          <p class="error">{{ userMessage.FIRST_NAME__TOO_LONG }}</p>
        }
      }
    </div>
  </label>

  <label class="flex items-center space-x-3 text-gray-700">
    <span class="w-[20%]">Ngày sinh (m/d/y):</span>
    <div class="w-[70%]">
      <input
        type="date"
        formControlName="dateOfBirth"
        [ngClass]="{
         'flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-myblue w-full': true,
         'cursor-not-allowed caret-transparent bg-gray-300': !editMode
        }"
        [readonly]="!editMode"
        [disabled]="!editMode"
      />
    </div>
  </label>

  @if (editMode) {
    <div class="flex justify-end space-x-2 mr-[8%]">
      <lib-action-button
        [name]="ActionButtonName.Save"
        mainTitle="Lưu"
        title=""
        [disabled]="userInfoForm.invalid"
        (btnClick)="saveUserInfo()"
      ></lib-action-button>

      <lib-action-button
        [name]="ActionButtonName.Cancel"
        mainTitle="Hủy"
        title=""
        (btnClick)="cancelEditUserInfo()"
      ></lib-action-button>
    </div>
  }
</form>
