<div class="p-4">
  <h3 class="text-2xl font-bold mb-8 text-my-blue">Thông tin thời kỳ lịch sử</h3>
  <div class="text-lg space-y-4">
    <div class="flex items-center">
      <p class="w-[10%] font-bold">Tên thời kỳ:</p>
      <p class="text-gray-500">{{ historicalPeriod.name }}</p>
    </div>
    <div class="flex items-center">
      <p class="w-[10%] font-bold">Năm bắt đầu:</p>
      <p class="text-gray-500">{{ toHistoricalYear(historicalPeriod.startYear) }}</p>
    </div>
    <div class="flex items-center">
      <p class="w-[10%] font-bold">Năm kết thúc:</p>
      <p class="text-gray-500">{{ toHistoricalYear(historicalPeriod.endYear) }}</p>
    </div>
  </div>

  <div class="mt-10 p-4 w-full bg-gradient-to-r from-my-lightblue to-my-lightpurple flex items-center rounded-xl">
    <div class="flex justify-end ml-auto space-x-2 ">
      <lib-action-button
        [name]="ActionButtonName.Cancel"
        mainTitle="Thoát"
        title=""
        (btnClick)="cancel()"
      ></lib-action-button>
    </div>
  </div>
</div>

