<div class="p-4">
  <h1 class="mt-5 font-bold text-my-blue text-4xl text-left">Danh sách thời kỳ lịch sử</h1>
  <div class="mt-2 h-1 w-full bg-gradient-to-r from-my-blue to-my-coralaccent rounded-lg"></div>

  <div class="flex items-center justify-between mt-5">
    <div class="w-[40%]">
      <app-search
        [originalData]="originialDisplayedData"
        [searchKeys]="['Tên thời kỳ', 'Năm bắt đầu', 'Năm kết thúc']"
        (filterData)="filterData($event)"
        placeholder="Tìm kiếm theo tên thời kỳ, năm bắt đầu và kết thúc"
      >
      </app-search>
    </div>
    <div class="flex items-center space-x-4">
      <app-sort
        [originalData]="originialDisplayedData"
        [sortOptions]="[
          { label: 'Tên thời kỳ (A-Z)', type: 'asc', sortedKey: '_name' },
          { label: 'Tên thời kỳ (Z-A)', type: 'dsc', sortedKey: '_name' },
          { label: 'Năm bắt đầu (Tăng dần)', type: 'asc', sortedKey: '_startYear' },
          { label: 'Năm bắt đầu (Giảm dần)', type: 'dsc', sortedKey: '_startYear' },
          { label: 'Năm kết thúc (Tăng dần)', type: 'asc', sortedKey: '_endYear' },
          { label: 'Năm kết thúc (Giảm dần)', type: 'dsc', sortedKey: '_endYear' }
        ]"
        (sortData)="sortData($event)"
      >
      </app-sort>
      <lib-action-button
        [name]="ActionButtonName.Add"
        mainTitle="Thêm mới"
        title=""
        (btnClick)="goToAddHistoricalPeriodPage()"
      ></lib-action-button>
    </div>
  </div>

  <div class="mt-5">
    <app-table
      [displayedData]="displayedData"
      [actionButtonConfigs]="[
        { name: ActionButtonName.Info },
        { name: ActionButtonName.Edit },
        { name: ActionButtonName.Delete },
        { name: ActionButtonName.LinkTo, title: 'Bài học liên quan' }
      ]"
      (actionClick)="actionClick($event)"
    ></app-table>
  </div>
</div>
