<div class="p-4">
  <h1 class="mt-5 font-bold text-my-blue text-4xl text-left">Danh sách câu hỏi</h1>
  <div class="mt-2 h-1 w-full bg-gradient-to-r from-my-blue to-my-coralaccent rounded-lg"></div>

  <div class="flex items-center justify-between mt-5">
    <div class="w-[40%]">
      <app-search
        [originalData]="originialDisplayedData"
        [searchKeys]="['content']"
        (filterData)="filterData($event)"
        placeholder="Tìm kiếm theo nội dung câu hỏi"
      >
      </app-search>
    </div>
    <div class="flex items-center space-x-4">
      <app-sort
        selectNgClass="p-[5%]"
        [originalData]="originialDisplayedData"
        [sortOptions]="[
          { label: 'Nội dung câu hỏi (A-Z)', type: 'asc', sortedKey: 'content' },
          { label: 'Nội dung câu hỏi (Z-A)', type: 'dsc', sortedKey: 'content' },
        ]"
        (sortData)="sortData($event)"
      >
      </app-sort>
      <lib-action-button
        [name]="ActionButtonName.Add"
        mainTitle="Thêm mới"
        title=""
        (btnClick)="goToAddQuestionPage()"
      ></lib-action-button>
    </div>
  </div>

  <div class="mt-5">
    <app-table
      [displayedData]="displayedData"
      [actionButtonConfigs]="[
        { name: ActionButtonName.Edit },
        { name: ActionButtonName.Delete },
      ]"
      [pageSize]="10"
      (actionClick)="actionClick($event)"
    >
      <ng-template #itemTemplate let-item>
        <div class="flex flex-col text-justify text-gray-800 space-y-2">
          <p class="font-medium">{{ item.content }}</p>

          @for (answerOption of item.answerOptions; track answerOption.id; let i = $index) {
            <div
              class="flex items-start p-2 rounded-md"
              [ngClass]="answerOption.correct ? 'bg-green-100 text-green-700' : ''"
            >
              <p class="w-[5%]">{{ String.fromCharCode(i + 'A'.charCodeAt(0)) }}.</p>
              <p class="w-full flex items-center">
                <span>{{ answerOption.content }}</span>
                <ng-icon
                  *ngIf="answerOption.correct"
                  size="24"
                  name="matDoneRound"
                  color="green"
                  class="ml-auto"
                ></ng-icon>
              </p>
            </div>
          }
        </div>
      </ng-template>
    </app-table>
  </div>
</div>
