<div class="max-w-4xl h-[450px] mx-auto mt-20 bg-white shadow-2xl rounded-2xl overflow-hidden flex">
  <div class="w-1/2 hidden md:block">
    <img
      ngSrc="images/bac-ho.jpg"
      width="500"
      height="500"
      alt="Bác Hồ - Chủ tịch Hồ Chí Minh vĩ đại"
      title="Bác Hồ - Chủ tịch Hồ Chí Minh vĩ đại"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="w-full md:w-1/2 p-10">
    <h1 class="text-3xl font-bold text-gray-800 text-center mb-6">Đặt lại mật khẩu</h1>

    @if (step === 1) {
      <form [formGroup]="sendOTPForm" class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email
          </label>
          <div class="mt-1 flex items-center border border-gray-300 rounded-lg shadow-sm">
            <input
              id="email"
              type="text"
              placeholder="Nhập email"
              formControlName="email"
              class="flex-1 px-4 py-2 border-none rounded-lg focus:outline-none"
            />
          </div>
          @if (sendOTPFH.isInvalid('email')) {
            @if (sendOTPFH.hasError('email', 'required')) {
              <p class="error">{{ userMessages.EMAIL__REQUIRED }}</p>
            } @else if (sendOTPFH.hasError('email', 'pattern') ||
            sendOTPFH.hasError('email', 'maxlength')) {
              <p class="error">{{ userMessages.EMAIL_OR_USER_NAME__INVALID }}</p>
            }
          }
        </div>

        <div class="flex justify-between">
          <a routerLink="/auth/login" class="text-sm text-blue-600 hover:underline">Về trang đăng nhập</a>
          <a routerLink="/home" class="text-sm text-blue-600 hover:underline">Về trang chủ</a>
        </div>

        <button
          [disabled]="sendOTPForm.invalid || isSending"
          (click)="sendOtp()"
          class="w-full py-3 rounded-lg bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold
          hover:from-blue-600 hover:to-purple-700 transition duration-300 ease-in-out flex items-center
          justify-center gap-2 cursor-pointer disabled:cursor-not-allowed"
        >
          <ng-container *ngIf="!isSending; else sendingTpl">Gửi OTP</ng-container>
          <ng-template #sendingTpl>
            Đang gửi OTP
            <span class="inline-flex gap-1 ml-1">
              <span class="animate-bounce-dots">.</span>
              <span class="animate-bounce-dots [animation-delay:.2s]">.</span>
              <span class="animate-bounce-dots [animation-delay:.4s]">.</span>
            </span>
          </ng-template>
        </button>
      </form>

    } @else if (step === 2) {
      <form [formGroup]="verificationForm" class="space-y-6">
        <div>
          <label for="otp" class="block text-sm font-medium text-gray-700">
            OTP
          </label>
          <div class="mt-1 flex items-center border border-gray-300 rounded-lg shadow-sm">
            <input
              id="otp"
              type="text"
              placeholder="Nhập OTP"
              formControlName="otp"
              class="flex-1 px-4 py-2 border-none rounded-lg focus:outline-none"
            />
          </div>
          @if (verificationFH.isInvalid('otp')) {
            @if (verificationFH.hasError('otp', 'required')) {
              <p class="error">{{ verificationMessages.OTP__REQUIRED }}</p>
            }
          }
        </div>

        <div class="flex items-start text-sm">
          @if (resendOTPCountdown > 0) {
            <p class="italic text-gray-500">Không nhận được mã OTP? Gửi lại sau {{ resendOTPCountdown }} giây</p>
          } @else {
            <p class="italic text-gray-500">
              Không nhận được mã OTP?
              <button
                [disabled]="isSending"
                (click)="sendOtp()"
                class="italic text-blue-600 hover:underline bg-transparent border-none p-0 m-0 cursor-pointer"
              >
                <ng-container *ngIf="!isSending; else sendingTpl">Gửi lại OTP</ng-container>
                <ng-template #sendingTpl>
                  Đang gửi lại OTP
                  <span class="inline-flex gap-1 ml-1">
                    <span class="animate-bounce-dots">.</span>
                    <span class="animate-bounce-dots [animation-delay:.2s]">.</span>
                    <span class="animate-bounce-dots [animation-delay:.4s]">.</span>
                  </span>
                </ng-template>
              </button>
            </p>
          }
        </div>

        <button
          [disabled]="verificationForm.invalid"
          (click)="verifyOTP()"
          class="w-full py-3 rounded-lg bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold
          hover:from-blue-600 hover:to-purple-700 transition duration-300 ease-in-out flex items-center
          justify-center gap-2 cursor-pointer disabled:cursor-not-allowed"
        >
          Xác nhận OTP
        </button>
      </form>

    } @else if (step === 3) {
      <form [formGroup]="resetPasswordForm" class="space-y-6">
        <div>
          <label for="new-password" class="block text-sm font-medium text-gray-700">
            Mật khẩu mới
          </label>
          <div class="border border-gray-300 rounded-lg shadow-sm">
            <lib-password-input
              inputId="new-password"
              formControlName="newPassword"
              containerClass="flex-1"
              inputClass="px-4 py-2 border-none rounded-lg focus:outline-none w-full"
              visibilityClass="right-3"
              inputPlaceholder="Nhập mật khẩu mới"
            >
            </lib-password-input>
          </div>
          @if (resetPassowordFH.isInvalid('newPassword')) {
            @if (resetPassowordFH.hasError('newPassword', 'required')) {
              <p class="error">{{ userMessages.NEW_PASSWORD__REQUIRED }}</p>
            } @else if (resetPassowordFH.hasError('newPassword', 'pattern') ||
            resetPassowordFH.hasError('newPassword', 'minlength') ||
            resetPassowordFH.hasError('newPassword', 'maxlength')) {
              <p class="error">{{ userMessages.NEW_PASSWORD__INVALID }}</p>
            }
          }
        </div>

        <div>
          <label for="confirm-new-password" class="block text-sm font-medium text-gray-700">
            Nhập lại mật khẩu
          </label>
          <div class="border border-gray-300 rounded-lg shadow-sm">
            <lib-password-input
              inputId="confirm-new-password"
              formControlName="confirmNewPassword"
              containerClass="flex-1"
              inputClass="px-4 py-2 border-none rounded-lg focus:outline-none w-full"
              visibilityClass="right-3"
              inputPlaceholder="Nhập lại mật khẩu mới"
            >
            </lib-password-input>
          </div>
          @if (resetPassowordFH.isInvalid('confirmNewPassword')) {
            @if (resetPassowordFH.hasError('confirmNewPassword', 'required')) {
              <p class="error">{{ userMessages.CONFIRM_NEW_PASSWORD__REQUIRED }}</p>
            } @else if (resetPasswordForm.get('confirmNewPassword')?.value !== resetPasswordForm.get('newPassword')?.value) {
              <p class="error">{{ userMessages.CONFIRM_NEW_PASSWORD__INVALID }}</p>
            }
          }
        </div>

        <button
          [disabled]="resetPasswordForm.invalid"
          (click)="resetPassword()"
          class="w-full py-3 rounded-lg bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold
          hover:from-blue-600 hover:to-purple-700 transition duration-300 ease-in-out flex items-center
          justify-center gap-2 cursor-pointer disabled:cursor-not-allowed"
        >
          Cập nhật
        </button>
      </form>
    }
  </div>
</div>
