<div class="relative min-h-screen py-12 px-6">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold text-center text-my-blue mb-6">Khám Phá Lịch Sử Việt Nam</h1>

    <p class="text-lg text-center mb-8">
      Trang web cung cấp công cụ giúp bạn dễ dàng tạo và quản lý bài học, tài khoản người dùng, và các cuộc thi về kiến
      thức lịch sử Việt Nam một cách trực quan và hiệu quả.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div
        class="flex flex-col justify-between bg-gradient-to-r from-my-blue to-my-purple p-6 rounded-lg shadow-lg hover:scale-105 transition-transform min-h-[260px]">
        <div>
          <h3 class="text-2xl font-semibold text-white mb-4">Quản Lý Bài Học</h3>
          <p class="text-white">
            Dễ dàng tạo, chỉnh sửa và tổ chức các bài học lịch sử Việt Nam theo từng giai đoạn hoặc chủ đề cụ thể.
          </p>
        </div>
        <button
          class="mt-6 bg-white text-my-blue py-2 px-4 rounded-md hover:bg-my-purple hover:text-white transition-colors"
          (click)="goTo('/lessons')"
        >
          Quản Lý Bài Học
        </button>
      </div>

      <div
        class="flex flex-col justify-between bg-gradient-to-r from-my-lavender to-my-coralaccent p-6 rounded-lg shadow-lg hover:scale-105 transition-transform min-h-[260px]">
        <div>
          <h3 class="text-2xl font-semibold text-white mb-4">Quản Lý Tài Khoản</h3>
          <p class="text-white">
            Quản trị viên cơ bản có thể xem thông tin người học, quản trị viên cấp cao có thể vô hiệu/kích hoạt tài
            khoản người học, còn siêu quản trị viên có quyền thêm tài khoản quản trị viên cũng như vô hiệu/kích hoạt,
            xóa tài khoản trong hệ thống.
          </p>
        </div>
        <button
          class="mt-6 bg-white text-my-darknavy py-2 px-4 rounded-md hover:bg-my-coralaccent hover:text-white transition-colors"
          (click)="goTo('/accounts')"
        >
          Quản Lý Tài Khoản
        </button>
      </div>

      <div
        class="flex flex-col justify-between bg-gradient-to-r from-my-purple to-my-blue p-6 rounded-lg shadow-lg hover:scale-105 transition-transform min-h-[260px]">
        <div>
          <h3 class="text-2xl font-semibold text-white mb-4">Quản Lý Cuộc Thi</h3>
          <p class="text-white">
            Tạo và quản lý các cuộc thi trắc nghiệm nhằm kiểm tra, củng cố kiến thức lịch sử. Dễ dàng thêm câu hỏi,
            thiết lập thời gian và theo dõi kết quả người tham gia.
          </p>
        </div>
        <button
          class="mt-6 bg-white text-my-purple py-2 px-4 rounded-md hover:bg-my-blue hover:text-white transition-colors"
          (click)="goTo('/contests')"
        >
          Quản Lý Cuộc Thi
        </button>
      </div>
    </div>

    @if (!isLoggedIn()) {
      <div class="mt-16 text-center">
        <button
          class="bg-gradient-to-r from-my-blue to-my-purple text-white
                  font-semibold py-3 px-6 rounded-full shadow-md hover:shadow-lg hover:scale-105
                  transition-all duration-300 flex items-center justify-center mx-auto mb-4"
          (click)="goTo('/auth/login')"
        >
          <ng-icon name="matLoginRound" class="mr-2" size="24"></ng-icon>
          <span class="text-xl">Đăng nhập</span>
        </button>
        <p class="text-lg">Đăng nhập ngay để khám phá các tính năng của hệ thống</p>
      </div>
    }

    <div class="mt-16 max-w-4xl mx-auto bg-gray-50 border border-gray-200 shadow-md rounded-xl p-8">
      <h3 class="text-3xl font-bold text-my-blue mb-6 text-center">Quy Định Sử Dụng</h3>
      <ul class="space-y-5 text-gray-800 text-lg list-none">
        <li class="flex items-start gap-4">
          <ng-icon name="matCheckCircleRound"
                   class="text-my-purple text-2xl"></ng-icon>
          Các quản trị viên cần đăng nhập để truy cập các chức năng quản lý bài học và cuộc thi.
        </li>
        <li class="flex items-start gap-4">
          <ng-icon name="matCheckCircleRound"
                   class="text-my-purple text-2xl"></ng-icon>
          Mọi nội dung bài học và câu hỏi cần được kiểm duyệt trước khi công bố.
        </li>
        <li class="flex items-start gap-4">
          <ng-icon name="matCheckCircleRound"
                   class="text-my-purple text-2xl"></ng-icon>
          Không sử dụng nội dung vi phạm bản quyền hoặc thông tin sai lệch về lịch sử.
        </li>
        <li class="flex items-start gap-4">
          <ng-icon name="matCheckCircleRound"
                   class="text-my-purple text-2xl"></ng-icon>
          Để đăng ký tài khoản quản trị viên trên hệ thống, cần liên hệ siêu quản trị viên qua email.
        </li>
      </ul>
    </div>
  </div>
</div>
