<footer class="mt-20 border-t border-gray-200 pt-8 pb-4 text-center">
  <div class="container mx-auto px-4">
    <p class="text-sm text-gray-600 mb-2">
      <span class="font-semibold bg-gradient-to-r from-my-blue to-my-purple bg-clip-text text-transparent">
        Bản quyền thuộc về © LOTUS - Lịch Sử Việt Nam
      </span>
    </p>
    <p class="text-sm text-gray-600 mb-1">
      Liên hệ siêu quản trị viên:
      <a
        href="mailto:trannhanlv2004@gmail.com"
        class="text-my-blue hover:underline">
        trannhanlv2004&#64;gmail.com
      </a>
    </p>
    <p class="text-sm text-gray-600">
      Liên hệ hỗ trợ:
      <a
        href="mailto:assistant.lotus.trannhanweb@gmail.com"
        class="text-my-blue hover:underline">
        assistant.lotus.trannhanweb&#64;gmail.com
      </a>
    </p>
  </div>
</footer>
