<div class="p-4">
  <h3 class="text-2xl font-bold mb-8 text-my-blue">Thông tin đoạn văn của bài học</h3>

  <form [formGroup]="formGroup" class="space-y-4">
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Tiêu đề:</span>
      <div class="w-[50%]">
        <input
          type="text"
          formControlName="title"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
        />

        @if (formHelper.isInvalid('title')) {
          @if (formHelper.hasError('title', 'required')) {
            <p class="error">{{ imageMessages.TITLE__REQUIRED }}</p>
          } @else if (formHelper.hasError('title', 'maxlength')) {
            <p class="error">{{ imageMessages.TITLE__TOO_LONG }}</p>
          }
        }
      </div>
    </label>

    <!-- Start Year -->
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Số thứ tự:</span>
      <div class="w-[50%]">
        <input
          type="number"
          formControlName="ordinalNumber"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full"
        />

        @if (formHelper.isInvalid('ordinalNumber')) {
          @if (formHelper.hasError('ordinalNumber', 'required')) {
            <p class="error">{{ imageMessages.ORDINAL_NUMBER__REQUIRED }}</p>
          } @else if (formHelper.hasError('ordinalNumber', 'min')) {
            <p class="error">{{ imageMessages.ORDINAL_NUMBER__INVALID }}</p>
          }
        }
      </div>
    </label>
  </form>

  <form class="mt-4 space-y-4">
    <label class="flex items-center space-x-3 text-gray-700">
      <span class="w-[10%]">Ảnh:</span>
      <div class="w-[50%]">
        <input
          type="file"
          accept=".jpg, .png, .jpeg"
          (change)="onImageChange($event)"
          class="flex-1 border rounded-lg p-2 focus:outline-none focus:ring focus:border-my-blue w-full bg-white"
        />

        <img
          *ngIf="imageUrl"
          [ngSrc]="imageUrl"
          alt=""
          width="500"
          height="300"
          class="mt-4 w-full rounded-lg shadow"
        />
      </div>
    </label>
  </form>

  <div class="mt-10 p-4 w-full bg-gradient-to-r from-my-lightblue to-my-lightpurple flex items-center rounded-xl">
    <div class="flex justify-end ml-auto space-x-2 ">
      <lib-action-button
        [name]="ActionButtonName.Save"
        mainTitle="Lưu"
        title=""
        [disabled]="formGroup.invalid"
        (btnClick)="saveFn.emit()"
      ></lib-action-button>

      <lib-action-button
        [name]="ActionButtonName.Cancel"
        mainTitle="Thoát"
        title=""
        (btnClick)="cancelFn.emit()"
      ></lib-action-button>
    </div>
  </div>
</div>

